<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420200840134-ibv4th5g8o9g4v81jlql4i05toofhkrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420200840134-ibv4th5g8o9g4v81jlql4i05toofhkrg</string>
	<key>API_KEY</key>
	<string>AIzaSyBhoz3Q9oGRPSHFk3u-xmJVeLmFKfbsFJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>420200840134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.versus</string>
	<key>PROJECT_ID</key>
	<string>versus-aefd8</string>
	<key>STORAGE_BUCKET</key>
	<string>versus-aefd8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420200840134:ios:a23fbd586f8c26846d10c7</string>
</dict>
</plist>